{
   "tabWidth": 3,
   "useTabs": false,
   "semi": true,
   "singleQuote": true,
   "printWidth": 120,
   "bracketSameLine": true,
   "proseWrap": "preserve",
   "trailingComma": "all",
   "endOfLine": "auto",
   "rules": {
      "@typescript-eslint/no-unnecessary-type-assertion": "off"
   }
}
